@import '../styles/functions';
@import '../styles/variables';

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura\ medium\ bt.ttf") format("opentype"),

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Futura;
    overflow-x: hidden;
}

/**
 *
 * Body
 *
 */
body{
    background-color: $theme-background-color;
    font-size: $h5-font-size;
}
  p{
    color: $p-text-color;
  }

  p2{
    color: $date-color;
    font-size: $h4-font-size;
  }

/**
 *
 * Menu
 *
 */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 50px;
    height: 6px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: $default-gradient;
}

.nav-menu {
    display: flex;
    margin-left: 40px;
}

.nav-item {
  margin-left: 130px;
}

.nav-link{
    font-size: $font-size-base;
    color: $header-text-color;
}

.nav-link:hover{
    border-bottom: 4px solid $default-green;
    padding-bottom: 36px;
}

/**
 *
 * Header
 *
 */
 .header {
    background-color: $theme-background-color;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    box-shadow: $default-shadow;
  
    &__body {
      align-items: center;
      display: flex;
      height: $header-height-desktop;
      color: $header-text-color;
    }
  
    &__logo {
      max-width: px-to-rem(142px);
      margin-left: 18px;
      margin-top: 3px;
      width: 100%;
  
      img {
        width: $img-responsive-width;
      }
    }
  }

/**
 *
 * Slider
 *
 */
 .swiper {
  margin-top: $header-height-desktop;
  width: 100%;
  height: 780px;
  color: $cta-text-color;
  text-align: center;
}
 .indoor-slider{
  margin-left: 16px;
  margin-top: 242px;
 }
 .title-slider{
   font-weight: 700;
   font-size: 2.89vw;
   margin-bottom: 24px;
 }
 .content-slider{
  font-size: 1.28vw;
  line-height: 1.4;
  margin-bottom: 48px;
}
.swiper-button-next,
.swiper-button-prev {
    padding-left: 16%;
    padding-right: 15%;
    color: white !important;
    font-weight: 900;
  }

/**
*
* Container
*
*/
   .container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     color: $container-text-color;
   }

    .card-short-content{
      text-align: center;
      width: 332px;
      line-height: 25px;
      font-weight: $default-font-weight;
      font-size: $h4-font-size;
      margin-top: $margin-top-bottom;
      margin-bottom: $margin-top-bottom;
      margin-left: $margin-left-right-content;
      margin-right: $margin-left-right-content;

    figure {
      width: 332px;
      height: 130px;
    }

    &__title{
     color: $title-text-color;
     font-size: $h3-font-size;
     height: 31px;
    }
  }

/**
*
* Blog
*
*/
    .card-short-content-blog{
      width: 332px;
      line-height: 1.5;
      font-size: $h4-font-size;
      margin-top: $margin-top-blog;
      margin-bottom: $margin-bottom-blog;
      margin-left: $margin-left-right-content;
      margin-right: $margin-left-right-content;

    img {
      max-width: 332px;
    }

    img:hover {
      opacity: 0.4;
      transition-duration: 0.8s;
    }

    &__title{
      font-size: $h3-font-size;
      color: $title-text-color;
      height: 31px;
    }
    
    &__category{
      margin-top: $margin-top-bottom-category;
      margin-bottom: 12px;
      display: flex;
      align-items:center;
      justify-content: space-between;
    }
}

  .blog{
    background-color: $blog-background-color;
  }

/**
*
* CTA
*
*/
    .cta{
       background: $default-gradient;
       display: flex;
       flex-wrap: wrap;
       align-items:center;
       height: 240px;
       color: $cta-text-color;
       justify-content: center;

       &__indoor{
         display: flex;
        width: 1176px;
        height: 118px;
        align-items: center;
        justify-content: space-between;
      }   
    &__indoor-text{
      width: 700px;
    }
    &__title{
       font-size: 2.3vw;
       margin-bottom: 20px;
     }
    &__content{
      font-size: 0.75vw;
    }
    }

/**
*
* Button
*
*/
   .button {
    border: none;
    width: 177px;
    height: 60px;
    font-size: $h3-font-size;
    letter-spacing: 2px;
  }
  
  .button0 {
    background: $default-gradient;
    color: $cta-text-color;
    border-radius: 2em;
  }

  .button1 {
    background-color: transparent;
    color: $cta-text-color;
    border: 2px solid $cta-text-color;
    border-radius: 2em;
  }
  
  .button1:hover {
    background-color: $cta-text-color;
  }

  .button-blog {
    background: $default-green;
    border: none;
    color: white;
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $h5-font-size;
    border-radius: 18px
  }

/**
*
* Footer
*
*/
   .footer{
     background-color: $footer-background-color;
     display: flex;
     height: 35px;
     color: $cta-text-color;
     justify-content: space-around;

     &__indoor{
      display: flex;
      width: 1176px;
      align-items: center;
      justify-content: space-between;
     }

     &__text{
      color: $cta-text-color;
      font-size: $h7-font-size;
     }
    }

/**
 *
 * Media Screen
 *
 */
    @media only screen and (max-width: 1300px){

/**
*
* Media Screen Slider
*
*/
    .swiper {
    height: 400px;
    }
    .indoor-slider{
    margin-top: 90px;
    }
    .title-slider{
    font-weight: 900;
    font-size: $h2-font-size;
    margin-bottom: $margin-top-bottom;
    }
    .content-slider{
    font-size: $h4-font-size;
    margin-bottom: $margin-top-bottom;
    }
    .swiper-button-next,
    .swiper-button-prev {
    padding-left: 0px;
    padding-right: 0px;
    }

/**
*
* Media Screen CTA
*
*/
   .cta{
     padding: 20px;
    height: 300px;
    text-align: center;

    &__title{
      font-size: $h2-font-size;
    }
   &__content{
     font-size: $h5-font-size;
   }
  }

/**
*
* Media Screen Menu
*
*/  
 .nav-menu {
  position: fixed;
  margin-left: 0px;
  left: -100%;
  top: 6.2rem;
  flex-direction: column;
  background: $default-gradient;
  opacity: 0.96;
  width: 100%;
  height: 90%;
  text-align: center;
  transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-link{
    color: $cta-text-color;
  }

  .nav-link:hover{
    border-bottom: 5px solid $default-green;
    padding-bottom: 5px;
  }
  .header__logo {
    margin-right: px-to-rem(200px);
  }
}