/**
 *
 * Options
 *
 */
/**
 *
 * Colors
 *
 */
/**
 *
 * Container
 *
 */
/**
 *
 * Margin
 *
 */
/**
 *
 * Header
 *
 */
/**
*
* Responsive
*
*/
@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura medium bt.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Futura;
  overflow-x: hidden;
}

/**
 *
 * Body
 *
 */
body {
  background-color: white;
  font-size: 14px;
}

p {
  color: #575454;
}

p2 {
  color: #b6b6b6;
  font-size: 16px;
}

/**
 *
 * Menu
 *
 */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 50px;
  height: 6px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#00FFB1), to(#0062FF));
  background: linear-gradient(90deg, #00FFB1 0%, #0062FF 100%);
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.nav-item {
  margin-left: 130px;
}

.nav-link {
  font-size: 1rem;
  color: #9d9897;
}

.nav-link:hover {
  border-bottom: 4px solid #00e2bf;
  padding-bottom: 36px;
}

/**
 *
 * Header
 *
 */
.header {
  background-color: white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  color: #9d9897;
}

.header__logo {
  max-width: 8.875rem;
  margin-left: 18px;
  margin-top: 3px;
  width: 100%;
}

.header__logo img {
  width: 100%;
}

/**
 *
 * Slider
 *
 */
.swiper {
  margin-top: 100px;
  width: 100%;
  height: 780px;
  color: white;
  text-align: center;
}

.indoor-slider {
  margin-left: 16px;
  margin-top: 242px;
}

.title-slider {
  font-weight: 700;
  font-size: 2.89vw;
  margin-bottom: 24px;
}

.content-slider {
  font-size: 1.28vw;
  line-height: 1.4;
  margin-bottom: 48px;
}

.swiper-button-next,
.swiper-button-prev {
  padding-left: 16%;
  padding-right: 15%;
  color: white !important;
  font-weight: 900;
}

/**
*
* Container
*
*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #555555;
}

.card-short-content {
  text-align: center;
  width: 332px;
  line-height: 25px;
  font-weight: 100;
  font-size: 16px;
  margin-top: 46px;
  margin-bottom: 46px;
  margin-left: 45px;
  margin-right: 45px;
}

.card-short-content figure {
  width: 332px;
  height: 130px;
}

.card-short-content__title {
  color: #272727;
  font-size: 20px;
  height: 31px;
}

/**
*
* Blog
*
*/
.card-short-content-blog {
  width: 332px;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 68px;
  margin-bottom: 52px;
  margin-left: 45px;
  margin-right: 45px;
}

.card-short-content-blog img {
  max-width: 332px;
}

.card-short-content-blog img:hover {
  opacity: 0.4;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.card-short-content-blog__title {
  font-size: 20px;
  color: #272727;
  height: 31px;
}

.card-short-content-blog__category {
  margin-top: 17px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog {
  background-color: #f7f7f7;
}

/**
*
* CTA
*
*/
.cta {
  background: -webkit-gradient(linear, left top, right top, from(#00FFB1), to(#0062FF));
  background: linear-gradient(90deg, #00FFB1 0%, #0062FF 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta__indoor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1176px;
  height: 118px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta__indoor-text {
  width: 700px;
}

.cta__title {
  font-size: 2.3vw;
  margin-bottom: 20px;
}

.cta__content {
  font-size: 0.75vw;
}

/**
*
* Button
*
*/
.button {
  border: none;
  width: 177px;
  height: 60px;
  font-size: 20px;
  letter-spacing: 2px;
}

.button0 {
  background: -webkit-gradient(linear, left top, right top, from(#00FFB1), to(#0062FF));
  background: linear-gradient(90deg, #00FFB1 0%, #0062FF 100%);
  color: white;
  border-radius: 2em;
}

.button1 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
}

.button1:hover {
  background-color: white;
}

.button-blog {
  background: #00e2bf;
  border: none;
  color: white;
  width: 100px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 18px;
}

/**
*
* Footer
*
*/
.footer {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__indoor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1176px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  color: white;
  font-size: 10px;
}

/**
 *
 * Media Screen
 *
 */
@media only screen and (max-width: 1300px) {
  /**
*
* Media Screen Slider
*
*/
  .swiper {
    height: 400px;
  }
  .indoor-slider {
    margin-top: 90px;
  }
  .title-slider {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 46px;
  }
  .content-slider {
    font-size: 16px;
    margin-bottom: 46px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding-left: 0px;
    padding-right: 0px;
  }
  /**
*
* Media Screen CTA
*
*/
  .cta {
    padding: 20px;
    height: 300px;
    text-align: center;
  }
  .cta__title {
    font-size: 24px;
  }
  .cta__content {
    font-size: 14px;
  }
  /**
*
* Media Screen Menu
*
*/
  .nav-menu {
    position: fixed;
    margin-left: 0px;
    left: -100%;
    top: 6.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, right top, from(#00FFB1), to(#0062FF));
    background: linear-gradient(90deg, #00FFB1 0%, #0062FF 100%);
    opacity: 0.96;
    width: 100%;
    height: 90%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .nav-link {
    color: white;
  }
  .nav-link:hover {
    border-bottom: 5px solid #00e2bf;
    padding-bottom: 5px;
  }
  .header__logo {
    margin-right: 12.5rem;
  }
}
/*# sourceMappingURL=style.css.map */